@font-face {
	font-family: Savate;
	src: url("../fonts/savate-regular-webfont.woff2") format("woff2"),
	url("../fonts/savate-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}